body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

nav section {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

nav ul li {
  margin: 0px 15px;
  padding-top: 10px;
}

nav ul li a {
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #9956f6;
  color: white;
  text-decoration: none;
}

nav ul li a:active {
  background-color: #29e0a9;
  color: white;
}

nav ul li select {
  padding: 10px 15px;
  border-radius: 5px;
}

#inicio, #projetos, #contato {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.gmail .linkedin .instagram .twitter {
  margin-right: 50px;
  padding: 20px;
}
@media (max-width: 600px) {
  nav ul {
      flex-direction: column;
  }

  nav ul li {
      margin: 5px 0;
  }
}
